$width-Sidebar: 60px;
$height-header: 70px;
$background-post: rgba(224, 224, 224, 0.633);
// $background-post: linear-gradient(0deg, rgb(100, 100, 100) 0%, rgba(159, 159, 159, 0.67) 45%, rgb(166, 173, 174) 100%);
$main-color: rgba(0, 0, 0, 0.8);
$body-color: #121212;
$color-white: #fff;

.ant-image-preview-img {
  z-index: 1200;
}
