.login-container {
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.login-content {
    width: 1100px;
    margin-top: 30px;
    h2 {
        text-align: center;
        color: #00b14f;
        font-weight: bold;
    }
    .btn-third-login {
        border-radius: 50px;
        margin-left: 90px;
        width: 150px;
        height: 35px;
        margin-bottom: 10px;
    }
    .btn-third-login:hover {
        background-color: #00b14f;
        color: white;
    }
}
.right-content {
    border-left: 1px solid black;
}
.btn-login {
    background-color: #00b14f !important;
    color: white !important;
}
.btn-login:hover {
    background-color: #00a048 !important;
    color: white !important;
}
