.search-song {
    margin-bottom: 20px;
}
.result-search-content {
    background-color: #e4e4e4;
    padding: 20px;
    border-radius: 10px;
}
.search-song-lyrics {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #5d5d5d;
    font-size: 13px;
    margin-bottom: 0;
}
.result {
    font-weight: 600;
    font-size: 28px;
}
.search-song-title {
    color: #4d4d4d;
    a {
        color: black;
        font-size: 18px;
        font-weight: 500;
    }
}
