.card2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  position: "relative";
  overflow: hidden;
  transition: all 0.3s;
  width: 550px;
  border: 1px solid rgb(221, 216, 216);
  box-shadow: rgba(14, 12, 12, 0.04) 0px 4px 8px;
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    &__left > img {
      width: 12px;
    }
    &__right {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__right > span {
      font-size: 1rem;
      padding: 0 0.2rem 0 0.2rem;
    }
  }
  &__content > img {
    width: 100%;
  }
}
