.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    position: "relative";
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  
    &__image > img {
      border-radius: 10px 10px 0 0;
      width: 100%;
    }
    &__body {
      padding: 0.5rem 1rem;
      p {
        font-weight: 800;
        margin: 0;
      }
      &__price {
        margin: 15px 0;
        & .card-price-content {
          display: flex;
          align-items: center;
        }
        & img {
          width: 12px;
          margin-right: 10px;
        }
        & span {
          font-weight: 800;
          font-size: 18px;
        }
      }
    }
  
    &__buy {
      transition: box-shadow 0.25s ease-in-out 0s;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: -100px;
      transition: all 0.3s;
  
      h1 {
        text-align: center;
        color: #fff;
        font-size: 1.2rem;
        padding: 10px;
      }
    }
  }
  .card:hover .card__buy {
    width: 100%;
    bottom: 0;
    box-shadow: rgba(6, 6, 6, 0.15) 0px 6px 25px;
    background-color: rgb(36, 129, 223);
  }